<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <img src="/img/logo.jpg" alt="Logo">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/users">Inicio</a></a></li>
                <li>Productos</li>
                <li>Conocenos</li>
                <li>Contacto</li>
                <li>Soporte</li>
            </ul>
        </nav>
    </div>
</header>